@font-face {
  font-family: "iconfont"; /* Project id 4823787 */
  src: url('iconfont.woff2?t=1739121604926') format('woff2'),
       url('iconfont.woff?t=1739121604926') format('woff'),
       url('iconfont.ttf?t=1739121604926') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-FOLDER:before {
  content: "\e652";
}

.icon-FILE-UNKNOW:before {
  content: "\e653";
}

.icon-DRAFT:before {
  content: "\e726";
}

.icon-POST:before {
  content: "\ec64";
}

.icon-AE:before {
  content: "\e689";
}

.icon-AI:before {
  content: "\e68a";
}

.icon-APK:before {
  content: "\e68b";
}

.icon-C:before {
  content: "\e68c";
}

.icon-CSS:before {
  content: "\e68d";
}

.icon-AVI:before {
  content: "\e68e";
}

.icon-BMP:before {
  content: "\e68f";
}

.icon-DOC:before {
  content: "\e690";
}

.icon-HTML:before {
  content: "\e691";
}

.icon-CPP:before {
  content: "\e692";
}

.icon-a-C:before {
  content: "\e693";
}

.icon-DLL:before {
  content: "\e694";
}

.icon-DOCX:before {
  content: "\e695";
}

.icon-EXE:before {
  content: "\e696";
}

.icon-GIF:before {
  content: "\e697";
}

.icon-LIB:before {
  content: "\e698";
}

.icon-EXCEL:before {
  content: "\e699";
}

.icon-FLV:before {
  content: "\e69a";
}

.icon-JAVA:before {
  content: "\e69b";
}

.icon-JSON:before {
  content: "\e69c";
}

.icon-JPG:before {
  content: "\e69d";
}

.icon-PHP:before {
  content: "\e69e";
}

.icon-GO:before {
  content: "\e69f";
}

.icon-MP3:before {
  content: "\e6a0";
}

.icon-MP4:before {
  content: "\e6a1";
}

.icon-JAR:before {
  content: "\e6a2";
}

.icon-MOV:before {
  content: "\e6a3";
}

.icon-PY:before {
  content: "\e6a4";
}

.icon-SVG:before {
  content: "\e6a5";
}

.icon-TIFF:before {
  content: "\e6a6";
}

.icon-RAR:before {
  content: "\e6a7";
}

.icon-PNG:before {
  content: "\e6a8";
}

.icon-RUST:before {
  content: "\e6a9";
}

.icon-PSD:before {
  content: "\e6aa";
}

.icon-PDF:before {
  content: "\e6ab";
}

.icon-R:before {
  content: "\e6ac";
}

.icon-ZIP:before {
  content: "\e6ad";
}

.icon-SQL:before {
  content: "\e6ae";
}

.icon-TXT:before {
  content: "\e6af";
}

.icon-JS:before {
  content: "\e6b0";
}

.icon-XLS:before {
  content: "\e6b1";
}

.icon-XLSX:before {
  content: "\e6b2";
}

.icon-WOFF:before {
  content: "\e72e";
}

.icon-TTF:before {
  content: "\e72f";
}

