@use './base.scss';
@use 'splitpanes/dist/splitpanes.css';
@use 'element-plus/theme-chalk/dark/css-vars.css';
@use './vditor.scss';

.splitpanes__splitter {
  width: 1px;
  padding: 0 2px;
  background-color: var(--el-border-color-dark);
  position: relative;
}

.splitpanes__splitter:hover {
  width: 5px;
  background-color: var(--el-color-primary);
}

/* 除编辑器外其余元素禁用选择 */
*:not(.vditor):not(.vditor *):not(.codemirror-editor):not(.codemirror-editor *) {
  user-select: none;
}

.no-login-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--el-color-primary-light-3);
  color: var(--el-color-white);
  border-radius: 5px;
  white-space: nowrap;

  .el-button {
    margin-left: 10px;
  }
}

/* 设置滚动条宽高颜色 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

/* 设置滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* 设置滚动条的滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}

/* 设置滚动条滑块的样式（鼠标悬停时） */
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* 设置滚动条滑块的样式（鼠标按下时） */
::-webkit-scrollbar-thumb:active {
  background-color: #aaa;
}

/* 设置滑块的圆角 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.vditor-reset h1,
.vditor-reset h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.vditor-reset hr {
  background-color: #eaecef;
}

.vditor-reset blockquote {
  color: #6a737d;
  border-left: 0.25em solid #eaecef;
}

.vditor-reset iframe {
  border: 1px solid #d1d5da;
}

.vditor-reset table tr {
  border-top: 1px solid #c6cbd1;
  background-color: #fafbfc;
}

.vditor-reset table td,
.vditor-reset table th {
  border: 1px solid #dfe2e5;
}

.vditor-reset table tbody tr:nth-child(2n) {
  background-color: #fff;
}

.vditor-reset code:not(.hljs):not(.highlight-chroma) {
  /* background-color: rgba(27, 31, 35, .05); */
  color: #fff;
}

.vditor-reset kbd {
  color: #24292e;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.vditor-speech {
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
  color: #586069;
}

.vditor-speech--current,
.vditor-speech:hover {
  color: #4285f4;
}

.vditor-linkcard a {
  background-color: #f6f8fa;
}

.vditor-linkcard a:visited .vditor-linkcard__abstract {
  color: rgba(88, 96, 105, 0.36);
}

.vditor-linkcard__title {
  color: #24292e;
}

.vditor-linkcard__abstract {
  color: #586069;
}

.vditor-linkcard__site {
  color: #4285f4;
}

.vditor-linkcard__image {
  background-color: rgba(88, 96, 105, 0.36);
}

html.dark {
  .hljs {
    color: var(--el-text-color-primary);
    background: var(--el-bg-color-page);
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: #d73a49;
  }

  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: #6f42c1;
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-variable {
    color: #005cc5;
  }

  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #032f62;
  }

  .hljs-built_in,
  .hljs-symbol {
    color: #e36209;
  }

  .hljs-code,
  .hljs-comment,
  .hljs-formula {
    color: var(--el-text-color-secondary);
  }

  .hljs-name,
  .hljs-quote,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #22863a;
  }

  .hljs-subst {
    color: var(--el-text-color-secondary);
  }

  .hljs-section {
    color: #005cc5;
    font-weight: 700;
  }

  .hljs-bullet {
    color: #735c0f;
  }

  .hljs-emphasis {
    color: var(--el-text-color-primary);
    font-style: italic;
  }

  .hljs-strong {
    color: var(--el-text-color-primary);
    font-weight: 700;
  }

  .hljs-addition {
    color: #22863a;
    background-color: var(--el-bg-color-overlay);
  }

  .hljs-deletion {
    color: #b31d28;
    background-color: var(--el-bg-color-overlay);
  }
}
